.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.popup__container {
    z-index: 200;
    position: relative; 
}

.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: .2s;
}

.popup__tulpip {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    max-width: 390px;
    border-radius: 10px;
}

.popup__tultip-image {
    max-width: 120px;
    margin-bottom: 32px;
}

.popup__tultip-title {
    color: #000;
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
}

.popup__close-btn {
    border: none;
    background: none;
    position: absolute;
    cursor: pointer;
    right: -11%;
    top: -12%;
    transition: opacity .1s linear;
}

.popup__close-btn:hover {
    opacity: .6;
}

@media (max-width: 550px) {
    .popup__close-btn {
        right: -2%;
        top: -10%;
    }

    .popup__close-image {
        max-width: 20px;
    }
}